* {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/imagenes/peliculas/fondo-netflix.png");
  background-size: cover;
  background-attachment: fixed;

}

.container-fluid {
  padding: 0px;
}

.imagen-fondo {
  position: fixed;
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)); */
}

.imagen-fondo img {
  width: 100%;

}

.principal {
  width: 100%;
  height: 100%;
  color: white;
  padding: 0;
}


/* navbar */
.navbar .container-fluid {
  padding-left: 10px;
  padding-right: 10px;

}
.navbar, .navbar .container-fluid{
  position: fixed;
  top: 0px;
  height: auto;
  min-height: 92px;
  width: 1072px;
  margin-left: 4%;
  z-index: 1;
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)); */

}


.navbar .logo-netflix {
  width: 148px;
  height: 42px;
}





/* formulario */



.formulario {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  max-width: 480px;
  height: 700px;
  margin-top: 90px;
}

.titulo {
  padding-top: 40px;
  padding-bottom: 20px;
  margin-block: 0;
  font-size: 2rem;
}

/* formulario de registro */


.container-form {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
}

.container-form .form-row {
  width: 80%;
  justify-content: space-evenly;

}

.container-form input {
  background: transparent;
  color: white;
  min-height: 60px;
  border: 1px solid rgb(86, 86, 86);
}

.container-form input::placeholder {
  /* color: rgb(189, 187, 187); */
  color: #808080;
}

.form-control:focus {
  background-color: transparent;
  color: white;
}

.container-form .btn {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}

.container-form a {
  text-decoration: none;
  color: #fff;
}



button, .container-form button {
  width: 352px;
  height: 40px;
}

.titulo, .suscribete, .recordarme, .proteccion, .mas-info {
  width: 352px;
}

.suscribete span {
  color: #8d8d8d;
}

.contrasena a {
  color: #fff;  
}


.proteccion p {
  font-size: 0.8rem;
  color: #808080;
}

.mas-info a {
  font-size: 0.8rem;
}


/* footer */
footer {
  background: #161616;
  margin-top: 60px;
}

footer p, footer a {
  color: #808080;
}

footer .container {
}

.preguntas {

}

.enlaces {

}

.idioma ul{
  width: 150px;
  border: 2px solid #808080;
  border-radius: 5px;
  padding-left: 10px;
}

.copy {

}
