* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #111;
}

/* contenedor cabecera */
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* navbar */
.navbar .container-fluid {
  padding-left: 10px;
  padding-right: 10px;

}
.navbar, .navbar .container-fluid{
  position: fixed;
  top: 0px;
  height: auto;
  min-height: 70px;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1));

}


.navbar .logo-netflix {
  width: 120px;
  height: auto;
}

.navbar a {
  color: white;
}

/* seccion principal */

.seccion-principal {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  z-index: 0;
}


.contenedor-imagen .imagen {
  width: 100%;
  height: auto;
}

.seccion-principal .informacion {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 40%;
  color: white;
  margin-bottom: 5%;
  margin-left: 5%;
}

.informacion .titulo {
  display: flex;
  justify-content: start;
}

.informacion img {
  width: 90%;
}

.informacion .descripcion {
  text-align: justify;
  width: 90%;
}

.informacion .botones {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.botones button {
  width: 200px;
  margin-right: 5%;
  justify-content: center;
}

/* carrusel de imagenes */

.container-fluid {
  background: #111;
}

.carousel-control-next {
  justify-content: right;
  right: 20px;
}

.carousel-control-prev {
  justify-content: left;
  left: 20px;

}
.carousel-control-prev i, .carousel-control-next{
  font-size: 40px;
}
